.body
{
    margin:0;
    padding:0;
    display: flex;
    background-color: rgba(233, 233, 233, 0.5);
}

.drop
{
    background:green;
}
.form
{
    background-color:white;
    margin-left:500px;
    margin-top:200px;
    width:30%;
}
.txt
{
    padding:20px;
    display: block;
}
.inpt
{
    width:90%;
    padding:10px;
    margin-left:10px;
}
.btnn
{
    margin-left:10px;
    width:90%;
    margin-top:10px;
    margin-bottom:10px;
}
.heading
{
    margin-left:10px;
}
.menu_bar
{
    padding-top:20px;
    background-color: rgb(16,55,92);
    width:20%;
    height:100vh;
    margin-right: 20px;
    position: sticky;
    top: 0;
}
.menu_link
{
    padding:5px;
}
.menu_link a
{
    text-decoration:none;
    font-size:30px;
    color:white;
}
.menu_link:hover
{
    width:100%;
    background-color:rgb(130, 129, 129);
}
.side
{
    margin-left:980px;
}
.menu_img img
{
    width:100%;
    height:100%;
}
.tbl
{
    width:100%;
    background-color: white;
}
.edit
{
    margin-left:100px;
    margin-top:50px;
    border:2px solid black;
    border-radius:20px;
    padding:20px;
    width:50%;
    height:520px;
}
.create
{
    margin-left:100px;
    margin-top:50px;
    border:2px solid black;
    border-radius:20px;
    padding:20px;
    width:50%;
    height:540px; 
}
.buttons
{
    margin-top:10px;
}
.active
{
    background-color:green;
    font-size:14px;
    border-radius:9px;
    width:100%;
    text-align: center;
}
.inactive
{
    background-color:red;
    font-size:14px;
    border-radius:9px;
    width:100%;
    text-align: center;
}
.active_category
{
    background-color:green;
    font-size:14px;
    border-radius:9px;
    width:80%;
    text-align: center;
}
.inactive_category
{
    background-color:red;
    font-size:14px;
    border-radius:9px;
    width:80%;
    text-align: center;
}
.dropbtn
{
    background-color: white;
}
.email
{
    display: block;
}
.editbtn
{
    text-decoration: none;
    padding:2px;
    color:red;
}
.delete
{
    border:none;
    color:red;
}
.details-nav
{
    margin-top:10px;
    margin-bottom:5px;
}
.createbtn
{
    margin-left:1000px;
    margin-top:10px;
    margin-bottom:5px;
}
.all
{
    margin-top:10px;
    display: flex;
    justify-content: space-between;
}
.dots
{
    border: none;
    background-color: transparent;
}
.d-flex{
    width: 100%;
    margin-bottom: 10px;
}
.d-flex i{
    position:relative;
    right: 30px;
    top: 7px;
}
#hovereffect li{
    color: rgb(16,55,92);
}
#hovereffect{
    background-color: rgb(243,244,246);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    width:100%;
}
#button
{
    margin-right:10px;
}
.create_user
{
    display: flex;
    justify-content:space-between;

}
.table th
{
    background:rgb(229,241,250) !important;
}
#smallbtn
{
    height:10%;
    padding:10px;
    width:15%;
}
#smallbtn1
{
    height:10%;
    padding:10px;
    width:15%;
    margin-right:40px;
}
#dropdownMenuButton1
{
    background-color: white;
    color:black;
}
#dropdownMenuButton2
{
    background-color: white;
    color:black;
    border:2px solid black;
    margin-right:650px;
    width:20%;
}
#dropdownMenuButton3
{
    background-color: white;
    color:black;
    border:2px solid black;
    position:absolute;
    left:750px;
    width:10%;
}
.edit_basic_info
{
    margin-left:500px;
}
.create_course
{
    display:flex;
    flex-direction:row;
}
.course
{
    display: flex;
}
.course p
{
    margin:10px;
}
.main_content_course
{
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    width:1200px;
    display: flex;
    margin: 10px;
    margin-left: 0;
    padding-right: 10px;
    justify-content: space-between;
}
.courses_create_dashboard button
{
  border:2px solid black;
  margin-left:-20px;
  margin-top:-180px;
}
.show_title_description
{
    display: block;
}
#card-show
{
    padding:70px;
    width:1200px;
    margin-top:20px;
    margin-left:10px;
    margin-right:10px;
}
.card-contents
{
    display: flex;
}
#add_unit
{
    margin-left:1000px;
    margin-top:10px;
}
.courses
{
    font-size: 40px;
    font-weight: bold;
    color:grey;
}
.status
{
    display: flex;
    align-items: baseline;
}
.right-course-detail{
    display: flex;
    gap: 20px;
}
.right-course-detail img{
    width: 300px;
    height: -webkit-fill-available;
}
.course_show_tag a
{
    text-decoration: none;
    color:rgb(128, 128, 128);
    font-size:40px;
}
.course_show_tag a:hover
{
    color:black;
}


.course_units_card
{
    display: flex;
    /* border:2px solid rgb(185, 182, 182); */
    justify-content: space-between;
    padding:30px;
    margin-left:5px;
    margin-top:5px;
}
.show_page_buttons
{
    display:flex;
    padding:20px;
}
.show_page_buttons a{
    margin-right: 10px;
}
.name
{
    font-size:30px;
}
.title_description
{
    margin-left:40px;
}

#unit_edit_btn
{
    background-color: grey;
}
.edit_basic_info_show
{
    text-decoration: none;
    background-color:rgb(211, 199, 199);
    color:rgb(36, 36, 194);
    padding:2px;
}

#category_name
{
    font-size: 15px;
    font-weight:bold;
    color:rgb(162, 162, 162);
    background-color:rgb(220, 220, 220);
    width:40%;
    text-align: center;
    margin-top:10px;
}
.created_by
{
    color:grey;
    font-size:15px;
    margin-left:-10px;
    font-weight: normal;
}
.course_name
{
    font-weight: bold;
}
.course_description
{
    color:grey;
}
#bar
{
    margin-right:8px;   
}
.courses_link
{
    text-decoration: none;
}
#form_units_create
{
    width:600px;
    height:500px;
}
.courses_edit_links
{
    display: flex;
    margin-top:10px;
    justify-content: space-between;
}
.courses_course_create
{
    font-size:20px;
    text-decoration: none;
}
.courses_course_title
{
    text-decoration: none;
    font-size:20px;
}
.units_create_link
{
    margin-top:20px;
    margin-bottom:20px;
}
.status-badge{
    border-radius: 2px;
    font-weight: bold;
    padding: 4px 20px;
    display: inline;
    font-size: 10px;
}
#published{
    background-color: rgb(209, 255, 209);
    color: rgb(17, 142, 17);
    border: 1px solid rgba(17, 142, 17, 0.5);
}
#draft{
    background-color: rgba(183, 183, 183, 0.2);
    color: rgb(155, 153, 153);
    border: 1px solid rgb(179, 179, 179);
}
#archive{
    background-color: rgb(255, 188, 188);
    color: rgb(255, 38, 38);
    border: 1px solid rgba(255, 38, 38, 0.5);
}
.users_link
{
    text-decoration: none;
    color:rgb(150, 103, 195)
}
.forgot-password-form
{
    margin:10% 35%;
    border:2px solid black;
    padding:20px;
    border-radius: 20px;
}
.form-label
{
    display: flex;
    font-size:20px;
    font-weight: bold;
    font-style: italic;
}
.email-send-button
{
    display: flex;
    margin-top:10px;
}
.heading-forgot-password
{
    margin:5% 35%;
}
.cancel
{
    background-color:red;
    text-decoration: none;
    text-align: center;
    padding:10px;
    margin-left: 10px;
    color:white;
    border-radius:10px;
}
.course-details
{
    border:2px solid black;
}

.test-details{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.questions
{
    display: flex;
    justify-content: space-between;
}
.btnn
{
    display: flex;
    justify-content: right;
}